{% extends 'base.html' %}
{% load static %}
{% block styles %}
    {{ form.media }}
<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
{% endblock %}

{% block title %}Edit Profile{% endblock %}
{% block content %}
<div class="center edit_profile">
    <br>
    <div class="form-group">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <div id="avatarContainer">
                    <img id="avatar" src="/media/{{profileForm.avatar.value}}" alt="Avatar of {{userForm.username.value}}">
                    {{profileForm.avatar}}
                </div>
                <hr>
            <br>
            <div id="userDataContainer">
                <label for="id_username">Username</label> {{userForm.username}}<br>
                <label for="id_first_name">First Name </label> {{userForm.first_name}}<br>
                <label for="id_last_name">Last Name </label>{{userForm.last_name}}<br>
                <label for="id_email">Email</label>{{userForm.email}}<br>
                <label for="id_bio">Bio</label>{{profileForm.bio}}<br>
                <span>URLs / Links</span>
                <div>
                    <label for="id_github">Github</label>
                    {{profileForm.github}}
                    <label for="id_linkedin">LinkedIn</label>
                    {{profileForm.linkedin}}
                    <label for="id_website">Website</label>
                    {{profileForm.website}}
                </div>
                <hr style="width: 100%">
            </div>
            <br>
            {{userForm.errors}}
            {{profileForm.errors}}
            <div><button type="submit">Update</button>
            <button type="button" onclick="window.history.go(-1); return false;">Cancel</button></div>
        </form>
    </div>

</div>

{% endblock %}