{% extends 'base.html' %}
{% block content %}
{% load template_tags %}
<div id="articleContainer">
    {% if not post %}
    <h1>The page you are looking for cannot be found...</h1>
    {% else %}
    <div class="articlebody">

        <div id="toolbar">
            {% if post.author == user %}
                <button id="edit_btn" onclick="location.href='edit'">Edit
                    <ion-icon name="create-outline"></ion-icon>
                </button>
                {% if post.status == 0 %}
                <button id="publish_btn" onclick="location.href='publish'">Publish
                    <ion-icon name="cloud-upload-outline"></ion-icon>
                </button>
                {% else %}
                <button id="unpublish_btn" onclick="location.href='unpublish'">Unpublish
                    <ion-icon name="cloud-offline-outline"></ion-icon>
                </button>
                {% endif %}
                <button id="delete_btn" onclick="if (confirm('Delete Post?')) location.href='delete'">Delete
                    <ion-icon name="trash-outline"></ion-icon>
                </button>
            {% else %}
                <button id="report_btn" onclick="location.href='report'">Report
                    <ion-icon name="flag-outline"></ion-icon>
                </button>
            {% endif %}
        </div>
        <hr>

        <h1 id="postTitle">{% block title %} {{ post.title | title }} {% endblock title %}</h1>
        <div id="postExcerpt">{% block excerpt %} {{ post.excerpt | title }} {% endblock excerpt %}</div>
        <br>
        <div id="meta">
            <div id="author_block">
                <a href="/@{{post.author.username}}">
                    <img class="avatar_icon" src="{{aws_media_url}}{{post.author.profile.avatar}}" alt="Avatar of {{post.author}}">
                </a>
                <div>
                    <span id="postAuthor">
                        <a href="/@{{post.author.username}}"> <span id="author-username">@{{ post.author }} </span> </a>
                        <br>
                        <span id="reading-time">{{ post.reading_time }} min read</span> <span> · {{post.views}} views</span>
                    </span>
                </div>
            </div>
            <div>
                <span>{% if post.created_on != post.updated_on %}Created{% endif %} {{ post.created_on  | date:"M d Y"}}</span>
                {% if post.created_on != post.updated_on %}
                    <br><span>Updated {{ post.updated_on | date:"M d Y"}}</span>
                {% endif %}
            </div>
        </div>
        <hr>
        <div id="postContent">
            {{ post.content | safe}}
        </div>
        <hr>
        {% if post.tags %}
        <span class="tags">
            <span>Tags:</span>
                {% for tag in post.tags %}
                    {% if tag %}
                    <a href="{% url 'search' %}?q={{tag}}&type=post&scope=taglist"><span class="tag">{{tag}}</span></a>
                    {% endif %}
                {% endfor %}
            </span>
        {% endif %}
        <div id="more">
            <h4>More About The Author</h4>
            {% profile_card request post.author %}
            <br>
        </div>
    </div>
    {% endif %}

</div>

{% endblock content %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock %}