{% extends "base.html" %}
{% load hitcount_tags %}

{% block content %}
<div class="center side_by_side">
    {% if results %}
    <div class="side_bar">
        <button id="filter_btn" style="width: 100%" onclick="toggle('filter_form', 'block', 600)">Filter <ion-icon name="funnel-outline"></ion-icon></button>
        <form id="filter_form" action="{% url 'search' %}">
            <div>Filter</div>
            <hr>
            {% if not request.GET.scope %}
            <label for="q">Query</label><br>
            <input id="q" type="text" name="q" aria-label="query" placeholder="Query" value="{{request.GET.q}}">
            <br>
            <br>
            <label for="type">Type</label><br>
            <select name="type" id="type">
                <option value="">All</option>
                <option value="article" {% if request.GET.type == "article" %}selected{% endif %}>Article</option>
                <option value="user" {% if request.GET.type == "user" %}selected{% endif %}>User</option>
            </select>
            <br>
            <br>
            {% else %}
                <input id="q" type="hidden" name="q" aria-label="query" placeholder="Query" value="{{request.GET.q}}">
            {% endif %}
            {% if request.GET.type == "article" or posts_only %}
                <label for="sort">Sort By</label><br>
                <select name="sort" id="sort">
                    <option value="">Popularity</option>
                    <option value="title" {% if request.GET.sort == "title" %}selected{% endif %}>Title</option>
                    <option value="date" {% if request.GET.sort == "date" %}selected{% endif %}>Date Created</option>
                    <option value="author" {% if request.GET.sort == "author" %}selected{% endif %}>Author</option>
                </select>
                <br>
                <br>
                <label for="order">Order By</label>
                <select name="order" id="order">
                    <option value="">Descending</option>
                    <option value="ascending" {% if request.GET.order == "ascending" %}selected{% endif %}>Ascending</option>
                </select>
                <br>
                <br>
            <input type="hidden" name="scope" value="{{request.GET.scope}}" >
            {% endif %}
            <button type="submit">Submit</button>
        </form>
    </div>
        <div class="search-container">
            <div id="pages">
                {% for p in paginator.page_range %}
                    <a href="{{search_url}}&page={{p}}">{{p}}</a>
                {% endfor %}
            </div>
            <div id="results">
                {% for r in results %}
                    {% if r.user %}
                        <div>
                            <a href="{% url 'profile_page' r.user %}" class="profile_card">
                                <img src="/media/{{r.avatar}}" alt="{{r.user}}'s avatar">
                                <div id="about">
                                    <span id="name">{{r.user.first_name | title}} {{r.user.last_name | title}}</span>
                                    <span id="username">@{{r.user}}</span>
                                    <p id="bio">{{r.bio}}</p>
                                </div>
                            </a>
                        </div>
                    {% else %}
                        <div class="postcard" onclick="location.href=`{% url 'post_detail' r.slug  %}`;">
                            <div class="postcard-infobar">
                              <p id="postAuthor">@{{ r.author }}</p>
                              {% if r.status == 0 %}
                                <div class="postcard-tag alert-error">Unpublished</div>
                              {% endif %}
                            </div>
                            <h3 id="postTitle">{{r.title | title }}</h3>
                            <p id="postContent">{{r.excerpt | slice:":200" | title }}</p>
                            <div id="meta">
                                <span id="date">{{ r.created_on}}</span>
                                <span><ion-icon name="eye-outline"></ion-icon> {% get_hit_count for r %}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h1>No Results Found</h1>
    {% endif %}

</div>
{% endblock %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}
