{% extends "index.html" %}
{% block homepage %}
    <div id="filter_controls">
        <button class="flat active">Posts</button>
        <button class="flat" onclick="location.href=`{% url 'home_authors' %}`">Authors</button>
        <form method="get">
            <select name="filter" id="filter" onchange="this.form.submit()">
                <option value="trending">Trending</option>
                <option value="new" {% if filter == 'new' %}selected{% endif %}>New</option>
            </select>
        </form>
    </div>
    <div id="trending_container">
        {% if not posts %}
            <h1>No Trends Found</h1>
        {% endif %}
        {% for post in posts %}
            {% if post.status == 1 %}
                <div class="postcard">
                    <a href="{% url 'post_detail' post.slug  %}">
                        <div class="postcard-infobar">
                            <p id="postAuthor">@{{ post.author }}</p>
                        </div>
                        <h3 id="postTitle">{{post.title | title }}</h3>
                        <p id="postContent">{{post.excerpt | slice:":200" | title }}</p>
                        <div id="meta">
                            <span id="date">{{ post.created_on}}</span>
                            <span><ion-icon name="eye-outline"></ion-icon> {{post.views}}</span>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/trending.css' %}">
{% endblock %}