{% extends "index.html" %}
{% block homepage %}
    {%  load template_tags %}
    <div id="filter_controls">
        <button class="flat" onclick="location.href=`{% url 'home' %}`">Posts</button>
        <button class="flat active">Authors</button>
        <form method="get">
            <select name="filter" id="filter" onchange="this.form.submit()">
                <option value="trending">Trending</option>
                <option value="new" {% if filter == 'new' %}selected{% endif %}>New</option>
            </select>
        </form>
    </div>
    <div id="trending_container">
        {% if not authors %}
                <h1>No Trends Found</h1>
        {% endif %}
        {% for author in authors %}
            {% if filter == 'trending' %}
                {% profile_card author.author__username author.author__first_name author.author__last_name author.author__profile__bio author.author__profile__avatar author.author__profile__banner %}
            {% else %}
                {% profile_card author.username author.first_name author.last_name author.profile.bio author.profile.avatar author.profile.banner %}
            {% endif %}

        {% endfor %}
    </div>
{% endblock %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/trending.css' %}">
{% endblock %}