{% extends "index.html" %}
{% load template_tags %}
{% block homepage %}
    <div id="filter_controls">
        <button class="flat active">Posts</button>
        <button class="flat" onclick="location.href=`{% url 'home_authors' %}`">Authors</button>
        <form method="get">
            <select name="filter" id="filter" onchange="this.form.submit()">
                <option value="trending">Trending</option>
                <option value="new" {% if filter == 'new' %}selected{% endif %}>New</option>
            </select>
        </form>
    </div>
    <div id="trending_container">
        {% if not posts %}
            <h1>No Trends Found</h1>
        {% endif %}
        {% for post in posts %}
            {% if post.status == 1 %}
                {% post_card post %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/trending.css' %}">
{% endblock %}