.profile_card {
    position: relative;
    border-radius: var(--border-radius);
}
.profile_card > a {
    display: flex;
    gap: 10px;
    border: solid 1px var(--button-border);
    border-radius: var(--border-radius);
    padding: 5px;
    /*box-shadow: var(--shadow);*/
    /*-webkit-box-shadow: var(--shadow);*/
    min-width: 300px;
    max-width: 100%;
    text-decoration: none;
    background: var(--profile-card-bg);
}
.profile_card > a:hover{
    text-decoration: none !important;
}
.profile_card:hover {
    background-color: var(--tertiary-color);
    cursor: pointer;
}
.profile_card_avatar{
    border-radius: var(--border-radius);
    width: 135px;
    height: 135px;
    background-position: center;
    background-size: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}
.minimal.profile_card > a > img {
    border-radius: 10%;
    width: 50px;
    height: 50px;
}
.profile_card > a .about {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
}
.minimal.profile_card > a .about {
    justify-content: center;
}
.profile_card > a  .username{
    color: var(--text-color-dim);
    font-weight: 100;
    font-size: 15px;
}

.profile_card > a  .bio {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.profile-card-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -100;
    border-radius: var(--border-radius);
}

.name-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.minimal .name-container {
    align-items: center;
}