.search-container {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: min(90vw, 500px);
}
#filter_controls {
    margin-top: 20px;
    display: flex;
    gap: 1px;
}
#filter_controls button {
    width: 300px;
    max-width: 100%;
    border-radius: 0;
}
#filter_btn {
    display: none;
}
#results {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side_by_side {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.side_bar * {
    color: var(--text-color-dim);
}

.side_bar {
    margin: 25px;
    padding: 10px;
    border-radius: var(--border-radius);
    border: solid 1px var(--button-border);
}

.side_bar label {
    font-size: 14px;
}

.side_bar input, .side_bar select {
    width: 100%;
    margin-top: 5px;
}

.side_bar > form > button {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    #filter_btn {
        display: revert;
    }
    .side_bar {
        width: 100%;
    }
    .side_bar > form {
        display: none;
    }
    .side_by_side {
        gap: 0;
    }
    .search-container {
        padding-top: 0;
    }
    #filter_form {
        margin-top: 10px;
    }
}