
/* form errors and request messages and alerts */
.badge-light {
    margin-top: 2.5em;
}
.errorlist {
    list-style: none;
    padding-left: 0px;
    opacity: 0.8;
    color: #dc3545;
    font-size: 12px;
}
.msg {
    margin: 0 !important;
    margin-bottom: 4px !important;
    margin-top: 4px !important;
}
.messages {
    z-index: 100;
    position: fixed;
    right: 2em;
    list-style: none;
    text-align: right;
}
.alert {
    margin-top: 1rem;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    transition: background-color 0.5s;
}
.alert-error {
    background-color: var(--error-bg);
    border-color: #ebcccc;
    color: var(--error);
}
.postcard-tag {
    padding: 0 5px;
    border-radius: var(--border-radius);
    margin-right: 10px;
}

.alert-success {
    background-color: var(--success-bg);
    border-color: #ebcccc;
    color:  var(--success);
}

.alert-info {
    background-color: var(--text-color-dim);
    border-color: #ffffff;
    color: var(--primary-color);
}