#filter_controls {
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}
#filter_controls > button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#filter_controls > form {
    margin-left: auto;
}

#trending_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: min(90vw, 800px);;
}

.postcard {
    width: 100%;
    margin-bottom: 0;
}