@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    color: var(--text-color);
    font-family: 'Merriweather Sans', sans-serif;
    text-decoration: none;
}
*:disabled {
    color: var(--text-color-dim);
    font-style: italic;
    background-color: var(--tertiary-color);
}

hr {
    border: solid 1px var(--button-border);
}

body {
    box-sizing: border-box;
    background-color: var(--primary-color);
    transition-property: box-shadow, height, width, background, font-size, background-color, border-top-color, border-bottom-color, border-left-color, border-right-color;
    transition: all 0.5s ease;
    margin: 0;
}
body#tinymce {
    padding: 0 5px !important;
}
*, *:before, *:after {
    box-sizing: inherit;
}

* {transition-property: box-shadow, height, width, background, font-size, background-color, border-top-color, border-bottom-color, border-left-color, border-right-color;
    transition: all 0.5s ease;}

.postcard {
    border: solid 1px var(--button-border);
    border-radius: var(--border-radius);
    padding: 10px;
    width: 500px;
    max-width: 100%;
    background-color: var(--secondary-color);
    /*box-shadow: var(--shadow);*/
    /*-webkit-box-shadow: var(--shadow);*/
    margin-bottom: 15px;
    transition: background-color 0.5s ease;
}
.postcard:hover {
    background-color: var(--tertiary-color);
    cursor: pointer;
}

.postcard-infobar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.postcard #postTitle { margin: 0; font-size: 22px}
.postcard #meta, .postcard-infobar * {
    margin: 0 0 5px 0;
    font-weight: 300;
}
.postcard .postcard-infobar * { font-size: 14px}
.postcard #meta {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}
.postcard #meta *, .postcard #postContent {
    color: var(--text-color-dim);
}
.postcard #postContent {
    font-size: 16px;
    font-weight: 300;
}
.postcard a {
    text-decoration: none;
}

#navbar {
    border-bottom: solid 1px var(--button-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
#navbar a {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
}
#navbar a:hover ion-icon, nav a:hover {
    color: var(--text-color-dim);
}

#search_bar{
    flex-grow: 0.5;
}

#search_bar > input {
    width: 100%;
    height: 30px;
}

#navlinksContainer {
    display: none;
    flex-direction: column;
    align-items: flex-end;
}

#navLinks {
    display: flex;
    flex-direction: column;
    margin-top: -1px;
    position: absolute;
    right: 10px;
    align-items: center;
    z-index: 100;
}

#navLinks a {
    text-decoration: none;
    width: 100%;
    text-align: center;
    border: solid 1px var(--button-border);
    background-color: var(--primary-color);
}
#navLinks a > div {
    padding: 10px;
}
#navLinks a > div:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}
#dropdown_btn {
    padding: 0 5px 0 0;
    display: flex !important;
    align-items: center;
}
#dropdown_btn:hover {
    filter: contrast(60%);
}
.avatar_icon {
    width: 30px !important;
    height: 30px !important;
    object-fit: cover;
    border-radius: 50%;
    padding: 0;
}

#postsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    max-width: 100%;
    justify-content: center;
    gap: 20px;
}

.copy-to-clipboard-button {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 4em;
    font-size: .8em;
    background-color: #1976d2;
    cursor: pointer;
    color: #fff;
    padding: 5px !important;
    border-radius: var(--border-radius);

}

.copy-to-clipboard-button > span {
    color: #c0c0c0 !important;
    font-family: 'Merriweather Sans', sans-serif;
}

.copy-to-clipboard-button:hover {
    cursor: pointer !important;
}

a {
    text-decoration: underline;
}

blockquote {
    border-left: 2px solid #ccc;
    padding-left: 10px;
}

/*TinyEditor*/
.tox-tinymce {
    width: 100%;
    max-width: 100%;
    border: 0 !important;
}

/*balloon menu*/
.tox.tox-silver-sink.tox-tinymce-aux, .tox.tox-silver-sink.tox-tinymce-aux *, .tox.tox-tinymce {
    transition: none 0s !important;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
::-webkit-scrollbar-thumb { background: var(--text-color-dim); }
::-webkit-scrollbar-thumb:hover { background: #555; }

button, input[type=submit] {
    background-color: var(--tertiary-color);
    color: var(--text-color-dim);
    border: 1px solid var(--button-border);
    border-radius: var(--border-radius);
    padding: 7.5px 15px;
    box-shadow: 0 3px 0px 0 rgba(0,0,0,0.2), 0 8px 5px 0
rgba(0,0,0,0.19);
    transition: background-color 0.5s ease;
}

button.mini {
    padding: 1px 5px !important;
}

button.flat {
    box-shadow: none;
}

button.active, input[type=submit].active {
    color: var(--text-color);
    box-shadow: inset 0px -3px 0px 0 var(--active_btn);
}

button.flat:hover {
    background-color: var(--button-border);
    cursor: pointer;
}

button.flat:active {
    transition: 0s;
    transform: none;
    color: var(--text-color);
    background-color: var(--secondary-color);
}

button:active, input[type=submit]:active {
    transform: translateY(2px);
    box-shadow: 0 0 0 white;
    outline: none;
}

input, textarea, select {
    background-color: var(--secondary-color);
    border: 1px solid var(--button-border);
    border-radius: var(--border-radius);
    padding: 3px;
    transition: background-color 0.5s ease;
}
input:focus, textarea:focus, select:focus{
	outline: none;
}

.errorlist * {
    color: var(--error);
}

ion-icon {
    vertical-align: middle;
    font-size: inherit;
    color: inherit
}

#injectedContainer {
    display: flex;
}
.center {
    margin-right: auto;
    margin-left: auto;
}

img {
    border-radius: var(--border-radius);
}

.profile_card {
    display: flex;
    gap: 10px;
    background-color: var(--secondary-color);
    border: solid 1px var(--button-border);
    border-radius: var(--border-radius);
    padding: 5px;
    /*box-shadow: var(--shadow);*/
    /*-webkit-box-shadow: var(--shadow);*/
    min-width: 300px;
    max-width: 100%;
    text-decoration: none;
}
.profile_card:hover {
    background-color: var(--tertiary-color);
    cursor: pointer;
}
.profile_card > img{
    border-radius: var(--border-radius);
    width: 135px !important;
    height: 135px !important;
    object-fit: cover;
}
.profile_card #about {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.profile_card #username{
    color: var(--text-color-dim);
    font-weight: 500;
    font-size: 15px;
}

.profile_card #bio {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

span.tags:not(code *, pre *) * {
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: small;
}
span.tag:not(code *, pre *) {
    background-color: #001125;
    border: solid 1px #001e48;
    padding: 3px 10px;
    border-radius: 15px;
    color: #93aac5;
    font-weight: 100;
}
code, code * {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
}
span.tag:not(code *):hover {
    background-color: #00162d;
    border: solid 1px #00326d;
}

iframe {
    max-width: 100%;
}
.gist-iframe {
    width: 100%;
    border: none;
}
.pdf-iframe {
    overflow: auto;
    resize: vertical;
    height: 800px;
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--button-border);
}


@media only screen and (max-width: 600px){
    #navLinks {
        display: flex;
        flex-direction: column;
        border: 0;
        margin: 0;
        border-radius: var(--border-radius);
        padding: 5px;
        position: unset;
        width: 100%;
    }
    #navbar {
        gap: unset;
    }
}