#socials {
    padding: 5px 0;
}
#about {
    position: absolute;
    width: 800px;
    max-width: 100%;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    background: var(--transparent-primary-color);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(148, 148, 148, 0.3);
}
#about * {
    font-weight: 100;
}
#profile-container hr {
    margin: 0;
}
#socials * {
    font-size: 15px;
    text-decoration: none;
}

#profile-info-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}
#profile-info-bottom {
    padding: 5px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    gap: 10px;
}
span#username {
    color: var(--text-color-dim);
}
span#name{
    font-weight: 400;
}
#user-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}
#profile-container {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 15px;
}

#profile-container > #banner {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
}

#about #avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 5px;
    border-radius: 10px;
}

div#profile {
    margin-top: 20px;
}

#profile-info-bottom #buttons{
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5px;
}