<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Hayaturehman Ahmadzai">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 day">
    <meta name="language" content="English">
    <meta name="copyright" content="Hayaturehman Ahmadzai ( Rehman )">
    <meta name="rating" content="general">
    <meta name="distribution" content="global">
    <meta name="theme-color" content="#000000">
    <meta property="og:type" content="website">

    {% block meta %}
        <meta name="title" content="Easy Blog">
        <meta name="description" content="Share your thoughts with ease, freedom and simplicity">
        <meta name="keywords" content="blog, blogging, share, thoughts, world, freedom, simplicity, easy, rehman, hayaturehman, ahmadzai">

        <!-- HTML Meta Tags -->
        <title>Easy Blog</title>
        <meta name="description" content="Easy Blog - Share your thoughts with ease, freedom and simplicity.">

        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="Easy Blog">
        <meta itemprop="description" content="Easy Blog - Share your thoughts with ease, freedom and simplicity.">
        <meta itemprop="image" content="http://i.imgur.com/RImMfPo.png">

        <!-- Facebook Meta Tags -->
        <meta property="og:title" content="Easy Blog">
        <meta property="og:description" content="Easy Blog - Share your thoughts with ease, freedom and simplicity.">
        <meta property="og:image" content="http://i.imgur.com/RImMfPo.png">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Easy Blog">
        <meta name="twitter:description" content="Easy Blog - Share your thoughts with ease, freedom and simplicity.">
        <meta name="twitter:image" content="http://i.imgur.com/RImMfPo.png">

        <meta name="keywords"
              content="blog, blogging, share, thoughts, world, freedom, simplicity, easy, rehman, hayaturehman, ahmadzai">

    {% endblock %}

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/themes.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/messages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/prism.css' %}">


    {% block styles %}
    {% endblock %}

    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
</head>
<body class="dark">
<script src="{% static 'js/theme.js' %}"></script>
<script>applyTheme(document.body)</script>
<nav>
    <div id="navbar">
        <div id="leftnav">
            <a href="{% url 'home' %}">Easy Blog</a>
        </div>
        <form action="{% url 'postdocument-list' %}" id="search_bar">
                <input type="text" aria-label="search" name="search" placeholder="Search">
        </form>
        <div style="display: flex; align-items: center;">
            <a href="{% url 'new_post' %}">Write</a>
            <a href="javascript:void(0);" id="dropdown_btn" onclick="toggle('navlinksContainer', 'flex')">
                {% if user.is_authenticated %}
                    <img class="avatar_icon" src="{{aws_media_url}}{{user.profile.avatar}}" alt="">
                {%else %}
                    <ion-icon name="menu-outline"></ion-icon>
                {% endif %}
                <ion-icon name="caret-down-outline"></ion-icon>
            </a>
        </div>
    </div>
    <div id="navlinksContainer">
        <div id="navLinks">
            {% if user.is_authenticated %}
                <a href="{% url 'profile_page' user.username %}"><div><ion-icon name="person-circle-outline"> </ion-icon><span>{% if user.first_name %}{{ user.first_name | title }}{% else %}{{user.username}}{% endif %}</span></div></a>
                <a href="{% url 'edit_profile' user.username %}"><div><ion-icon name="settings-outline"></ion-icon> <span>Settings</span></div></a>
                <a href="{% url 'logout' %}"><div><ion-icon name="log-out-outline"></ion-icon> <span>Sign Out</span></div></a>
            {% else %}
                <a href="{% url 'signup' %}"><div><span>Sign Up</span></div></a>
                <a href="{% url 'login' %}"><div><span>Log In</span></div></a>
            {% endif %}
            <a onclick="SwitchTheme()"><div><ion-icon name="contrast-outline"></ion-icon> <span>Switch Theme</span></div></a>
        </div>
    </div>
</nav>

<div id="injectedContainer">
    {% block messages %}
        <ul class="messages" id="messages-list">
        {% if messages %}
            {% for message in messages %}
            <li>
                {% if message.tags %}
                     <div class="alert alert-{{ message.tags }} msg fade show" role="alert">{{ message }}</div>
                {% else %}
                    <div class="alert alert-info msg fade show" role="alert">{{ message }}</div>
                {% endif %}
            </li>
            {% endfor %}
        {% endif %}
        </ul>
    {% endblock %}
    {% block content %}
        <!-- Content Goes here -->
    {% endblock content %}
</div>

</body>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="{% static 'js/prism.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
	window.addEventListener('message', function(e) {
		let message = e.data;
        if (message.iframeID && message.height) {
            let ifr = document.querySelector(`iframe#${message.iframeID}`);
            if (ifr) ifr.style.height = message.height + 'px';
        }
	} , false);
</script>
<script src="{% static 'js/requests.js' %}"></script>
{% block scripts %}
{% endblock %}
</html>