{% extends 'base.html' %}
{% load static %}
{% load template_tags %}

{% block title %}Edit Post{% endblock %}
{% block content %}
<div id="articleContainer" class="center">
    <br>
    <div class="articlebody">
        <form id="post_form" method="post" {% if newPost %} action="{% url 'create_post' %}" {% endif %}>
            {% csrf_token %}
            <div id="postInfo">
                {{form.status}}
                <span><label for="id_tags">Tags </label>{{form.taglist}}</span>
                <button class="flat mini" type="button" onclick="featured_image_handler(this)">Select Featured Image</button>
            </div>
            <div id="featured_image_selector">
                <span>Newly added images will be selectable after the post is saved.</span>
                <div id="images">

                </div>
            </div>
            <br>
            {{form.title}}
            {{form.excerpt}}
            <hr>
            {{form.content}}
            {{ form.featured_image.as_hidden }}
            <hr>
            {% if form.errors %}
                {{form.errors}}
            {% endif %}

            <div>
                <button type="submit">{% if newPost %} Create {% else %} Update {% endif %}</button>
                <button type="button" onclick="window.history.go(-1); return false;">Cancel</button>
            </div>
            <br>
        </form>
    </div>

</div>

{% endblock %}

{% block styles %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'css/edit_post.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock %}

{% block scripts %}
    <script>
        let editor = frames['id_content_ifr'];
        if (!editor) {
            setTimeout(() => {
                editor = frames['id_content_ifr'].contentDocument.body;
                applyTheme(editor)
            }, 2000)
        } else {
            applyTheme(editor.contentDocument.body)
        }
    </script>
    <script src={% static "js/featured_image.js" %}></script>
{% endblock %}

{% block meta %}

    {% if newPost %}
        {% meta_tags title="Write a Post" description="Create a new post" %}
    {% else %}
        {% meta_tags title=form.title.value|title description=form.excerpt.value %}
    {% endif %}

{% endblock meta %}