{% extends "base.html" %}
{% load static %}
{% load template_tags %}
{% block content %}
    <div class="center">
        <div id="header" onclick="location='{% url 'profile_page' target_user.username %}'">
            <ion-icon name="arrow-back-outline"></ion-icon>
            <div>
                {% if target_user.first_name %}
                    <span>{{ target_user.first_name | title }} {{ target_user.last_name | title }}</span><br>{% endif %}
                <span><small style="color: var(--text-color-dim); font-weight: 100">@{{ target_user.username }}</small></span>
            </div>
        </div>
        <div id="filter_controls">
            <button class="flat" onclick="location.href=`{% url 'followers' target_user.username %}`">Followers</button>
            <button class="flat active">Following</button>
        </div>
        {% if users.has_other_pages %}
            <div class="pagination">
                {% if users.has_previous %}
                    <a href="?p={{ users.previous_page_number }}"><ion-icon name="play-skip-back-outline"></ion-icon></a>
                {% else %}
                    <div class="disabled"><span><ion-icon name="play-skip-back-outline"></ion-icon></span></div>
                {% endif %}
                {% for i in users.paginator.page_range %}
                    {% if users.number == i %}
                        <div class="active"><span>{{ i }} <span class="sr-only"></span></span></div>
                    {% else %}
                        <a href="?p={{ i }}"><div>{{ i }}</div></a>
                    {% endif %}
                {% endfor %}
                {% if users.has_next %}
                    <a href="?p={{ users.next_page_number }}"><div><ion-icon name="play-skip-forward-outline"></ion-icon></div></a>
                {% else %}
                    <div class="disabled"><span><ion-icon name="play-skip-forward-outline"></ion-icon></span></div>
                {% endif %}
            </div>
        {% endif %}
        <div id="userlist-container">
            {% for u in users %}
                {% profile_card request u True %}
            {% empty%}
                <h3 style="font-weight: 100"><a href="{% url 'profile_page' target_user.username %}">@{{ target_user.username }}</a> is not following anyone at the moment.</h3>
            {% endfor %}
        </div>
        {% if users.has_other_pages %}
            <div class="pagination">
                {% if users.has_previous %}
                    <a href="?p={{ users.previous_page_number }}"><ion-icon name="play-skip-back-outline"></ion-icon></a>
                {% else %}
                    <div class="disabled"><span><ion-icon name="play-skip-back-outline"></ion-icon></span></div>
                {% endif %}
                {% for i in users.paginator.page_range %}
                    {% if users.number == i %}
                        <div class="active"><span>{{ i }} <span class="sr-only"></span></span></div>
                    {% else %}
                        <a href="?p={{ i }}"><div>{{ i }}</div></a>
                    {% endif %}
                {% endfor %}
                {% if users.has_next %}
                    <a href="?p={{ users.next_page_number }}"><div><ion-icon name="play-skip-forward-outline"></ion-icon></div></a>
                {% else %}
                    <div class="disabled"><span><ion-icon name="play-skip-forward-outline"></ion-icon></span></div>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/profile-card.css' %}">
{% endblock %}

{% block meta %}
    {% meta_tags title=target_user.username|add:" Follows"|title description="View who @"|add:target_user.username|add:" follows on Easy Blog"%}
{% endblock meta %}