{% extends "base.html" %}
{% load template_tags %}
{% block content %}
    <div id="filter_controls" class="center ">
        <button class="flat active">Posts</button>
        <button class="flat"
                onclick="location.href=`/search/users/{% if request.GET.search %}?search={{ request.GET.search }}{% endif %}`">
            Users
        </button>
    </div>
    <br>
    <div class="center side_by_side">
        <div class="side_bar">
            <button id="filter_btn" style="width: 100%" onclick="toggle('filter_form', 'block', 600)">Filter
                <ion-icon name="funnel-outline"></ion-icon>
            </button>
            <form id="filter_form" action="">
                <label for="search">Query</label><br>
                <input id="search" type="text" name="search" aria-label="query" placeholder="Query"
                       value="{{ request.GET.search }}">
                <br>
                <br>
                <label for="in_field">Search in</label><br>
                <select name="in_field" id="in_field">
                    <option value="all">All</option>
                    <option value="title" {% if request.GET.in_field == "title" %}selected{% endif %}>Title</option>
                    <option value="slug" {% if request.GET.in_field == "slug" %}selected{% endif %}>Slug</option>
                    <option value="excerpt" {% if request.GET.in_field == "excerpt" %}selected{% endif %}>Excerpt
                    </option>
                    <option value="content" {% if request.GET.in_field == "content" %}selected{% endif %}>Content
                    </option>
                    <option value="tags" {% if request.GET.in_field == "tags" %}selected{% endif %}>Tags</option>
                </select>
                <br>
                <br>
                <label for="ordering">Sort By</label><br>
                <select name="ordering" id="ordering">
                    <option value="">Relevance</option>
                    <option value="created_on" {% if request.GET.ordering == "created_on" or request.GET.ordering == "-created_on" %}selected{% endif %}>Date
                        Created
                    </option>
                    <option value="updated_on" {% if request.GET.ordering == "updated_on" or request.GET.ordering == "-updated_on" %}selected{% endif %}>Date
                        Updated
                    </option>
                    <option value="views" {% if request.GET.ordering == "views" or request.GET.ordering == "-views" %}selected{% endif %}>Views</option>
                    <option value="reading_time" {% if request.GET.ordering == "reading_time" or request.GET.ordering == "-reading_time" %}selected{% endif %}>
                        Reading Time
                    </option>
                </select>
                <br>
                <br>
                <label for="order">Order By</label>
                <select name="order" id="order">
                    <option value="">Descending</option>
                    <option value="ascending" {% if request.GET.order == "ascending" %}selected{% endif %}>
                        Ascending
                    </option>
                </select>
                <br>
                <br>
                <label for="author">Filter By</label><br>
                <input title="Filter by the username of the post author (i.e. @rehman)" id="author" type="text" name="author" aria-label="author" placeholder="@author"
                       value="{{ request.GET.author }}">
                <br>
                <input title="Filter by the post tags (i.e. guide,tutorial)" id="tags__in" type="text" name="tags__in" aria-label="tags" placeholder="Comma-seperated Tags"
                       value="{{ request.GET.tags__in | replace:"__,, " }}">
                <br>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
        {% if results %}
            <div class="search-container">
                {{ paginator.count.length }}
                {% if paginator.next or paginator.previous %}
                    <div class="pagination" style="font-weight: 100; font-size: 15px">
                        {% if paginator.previous %}
                            <a href="{{ paginator.previous }}">
                                <ion-icon name="play-skip-back-outline"></ion-icon>
                            </a>
                        {% else %}
                            <div class="disabled"><span><ion-icon name="play-skip-back-outline"></ion-icon></span></div>
                        {% endif %}
                        <form action="">
                            <span>Page <input type="text" name="page" value="{{ paginator.current_page }}"
                                              style="width: 40px; text-align-last: center;font-weight: 600;font-size: 16px;"/> of {{ paginator.count }}</span>
                            {% for k,v in request.GET.items %}
                                {% if k != 'page' %}
                                    <input type="hidden" name="{{ k }}" value="{{ v }}"/>
                                {% endif %}
                            {% endfor %}
                        </form>
                        {% if paginator.next %}
                            <a href="{{ paginator.next }}">
                                <div>
                                    <ion-icon name="play-skip-forward-outline"></ion-icon>
                                </div>
                            </a>
                        {% else %}
                            <div class="disabled"><span><ion-icon name="play-skip-forward-outline"></ion-icon></span>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <div id="results">
                    {% for r in results %}
                        {% post_card r %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <h1>No Posts Found</h1>
        {% endif %}

    </div>
{% endblock %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        const myform = document.getElementById('filter_form')
        myform.onsubmit = function () {
            let tagsElement = document.getElementById('tags__in')
            tagsElement.value = tagsElement.value.replaceAll(',', '__')
        }
    </script>
{% endblock %}
