{% load template_tags %}
<a class="postcard" href="{% url 'post_detail' post.slug %}">
    <div class="postcard-data">
        <div style="width: 100%">
            <div class="postcard-infobar">
                <p id="postAuthor">@{{ post.author.username }}</p>
                {% if post.status == 0 %}
                    <div class="postcard-tag alert-error">Unpublished</div>
                {% endif %}
            </div>
            <h3 id="postTitle">{{ post.title |capfirst }}</h3>
            <span id="postContent">{{ post.excerpt | slice:":200" |capfirst }}</span>
        </div>
        {% if post.featured_image %}
            <div class="featured-image" style='background: url("{{ post.featured_image }}"); background-size: cover;' ></div>
        {% endif %}
    </div>
    <div id="meta">
        <span id="date">{{ post.created_on | date:"M d Y" }}</span>
        <span>{{ post.reading_time }} min read  · {{ post.views }} <ion-icon
                name="eye-outline"></ion-icon></span>
    </div>
</a>